.footer{
	background-color: #000;
	color: #fff;
	font-size: 1vW;
	font-weight: 600;
	padding: 15px;
}

@media screen and (max-width: 767.98px) { 
	.footer{	
		font-size: 10px;
	} 
}
@media screen and (min-width: 768px){
	.footer{	
		font-size: 12px;
	} 
}
